[report]
exclude_lines =
    def valid_date
    def __repr__
    def __str__
    if __name__ == .__main__.:
    pass
    pragma: no cover
    raise NotImplementedError

[run]
source =
    ./pyt
    ./tests
omit =
    pyt/__main__.py
    pyt/usage.py
    pyt/formatters/json.py
    pyt/formatters/text.py
